{% extends 'colis/base.html' %}



{% block title %}
Supprimer un Colis
{%endblock%}

{% block content %}
<div class="container bg-light shadow-md p-5 form-layout">

    <h1>Confirmer la suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer le colis : {{ colis.nom_produits }} ?</p>
    
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-outline-info" type="submit">Confirmer la suppression</button>
        <a href="{% url 'user_dashboard' %}">Annuler</a>
    </form>
</div>

    {%endblock%}
