{% extends 'colis/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body>

    <div class="container bg-light shadow-md p-2 form-layout">
        <h3> Créez votre compte </h3>

        <h5> Commencer à gerer votre entreprise   </h5> 

        <hr>
        <br>

        <form method="POST" action="{% url 'register' %}" autocomplete="off">
            {% csrf_token %}
            {{ form.as_p }}
    

            <br>
            <button type="submit" class="btn btn-primary btn-block p-2"> Créer compte </button> 
        </form>

        <br> 
        <div class="text-center">
            <p>Vous avez dejà un compte?</p> 
            <a href="{% url 'login' %}">Se connecter</a> 
        </div>
        <br> 

    </div>

</body>
{% endblock %}
